* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

html {
    background: url(/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-text {
    text-align: center;
}

main {
    height: 100%;
    width: 100%;
    position: relative;
}
.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 3px solid #aaa;
    border-radius: 40px;
    background: #eee;
    opacity: 0.8;
}

img.logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 8px;
}

h1 {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
h2 {
    padding-top: 16px;
    color: #cccccc;
    font-size: 90px;
    font-weight: 900;
}

.buttons {
    margin-top: 20px;
}
button {
    margin: 5px 1px;
    color: #fff;
    cursor: pointer;
    padding: 0 16px;
    font-weight: 900;
    min-height: 36px;
    font-size: 14px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.primary {
    background: #f0ad4e;
}
.secondary {
    background: #337ab7;
}

footer {
    padding-top: 20px;
}
footer p li {
    font-size: 1em;
}
a:link,
a:visited {
    color: black;
}
ul {
    padding-left: 20px;
}
.copyright {
    color: white;
    text-align: left;
    text-shadow: 2px 2px black;
    margin: 10px;
    position: absolute;
    bottom: 0;
}
.copyright a {
    color: white;
    text-decoration: none;
}
