<p class="copyright">
    <% if (packageInfo.homepage) { %><a href="<%= packageInfo.homepage %>"><% } %>
    <%= packageInfo.title || packageInfo.name %> V <%= packageInfo.version %>
    <% if (packageInfo.homepage) { %></a><% } %>

    <% if (packageInfo.name !== serverInfo.name) { %>
    - <a href="<%= serverInfo.homepage %>">Powered by <%= serverInfo.title || serverInfo.name %> V <%= serverInfo.version %></a>
    <% } %>

    <% if (clientInfo.title) { %>
    - <a href="<%= clientInfo.homepage %>">Including <%= clientInfo.title || clientInfo.name %> V <%= clientInfo.version %></a>
    <% } %>
</p>
