<html>
    <head>
        <title><%= error.message %> - <%= packageInfo.description %></title>
        <style><%- include('includes/base.css') %></style>
    </head>

    <body>
        <main class="container">
            <div class="page">
                <a href="/"><img class="logo" src="/logo.png" alt="Logo"/></a>
                <h1 class="center-text"><%= packageInfo.description %></h1>
                <h2 class="center-text"><%= error.code %></h2>
                <h3 class="center-text"><%= error.message %></h3>
                <p class="center-text"><%- error.detail.replace(/\n/g, '<br />') %></p>
                <footer></footer>
            </div>
            <%- include('includes/copyright.html') %>
        </main>
    </body>
</html>
