<html>
    <head>
        <title><%= packageInfo.description %></title>
        <style><%- include('includes/base.css') %></style>
    </head>
    <body>
        <main class="container">
            <div class="page">
                <img class="logo" src="/logo.png" alt="Logo" />
                <h1 class="center-text"><%= packageInfo.description %></h1>

                <%- include('includes/welcome.html') %>

                <p class="center-text buttons">
    <% if (clientInfo.title) { %>
                    <button class="primary" onclick="window.location.href='/gui'">Web Client</button>
    <% } %>
                    <button class="secondary" onclick="window.open('/swagger', '_blank')">API Docs</button>
                    <!--          <button class="secondary" onclick="window.open('/logtail', '_blank')">Logfile</button>-->
                </p>
    <% if (clientInfo.title) { %>
                <footer>
                    <!--                    <img src="qr-code.png" style="float:left; padding-right: 6px" width="80px" />-->
                    <p>Or download a suitable client:</p>
                    <ul>
                        <li><a href="gui/download/Alinex-GUI_linux-x64.tgz">Linux 64bit</a></li>
                        <li><a href="gui/download/Alinex-GUI_darwin-x64.tgz">Mac OSX 64bit</a></li>
                        <li><a href="gui/download/Alinex-GUI_win32-x64.zip">Windows 64bit</a></li>
                        <!--<li><a href="gui/download/Alinex-GUI_android.apk">Android APK</a> (experimental)</li>-->
                    </ul>
                </footer>
    <% } %>
                <!--                <footer>
                    <p style="text-align:center"><a href="web#/info">Privacy Policy</a></p>
                </footer>-->
            </div>
            <%- include('includes/copyright.html') %>
        </main>
    </body>
</html>
